* {
    margin: 0;
    padding: 0;
}

body { 
    background-color:white;
    background-image: url(Industrial-robots.png);
    background-size: cover;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    align-content: center;
    margin: auto;
    margin-top: 1%;
    text-shadow: black;
}

.contentContainer{
    text-align: center;
    align-content: center;
    background-color: red;
    width: 50%;
    margin: auto;
    margin-top: 1%;
    background-color: rgba(0, 221, 236, 0.349);
    padding: 20px;
}

.button {
    width: 115px;
    font-size: 100%;
    margin: 5px;
    padding: 10px;
    text-align: center;
    align-content: center;
    cursor: auto;
    box-shadow: black;
    font-style: normal;
    
    
}

.slider{
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover{
    opacity: 1;
}

.slider::-moz-range-thumb {
    width: 25px; 
    height: 25px; 
    cursor: pointer; 
  }

.slider::after{
    content: '180'; 
    font-size: medium;
    position: absolute;
    right: 25%;
    text-shadow: black;
}

.slider::before{
    content: '0';
    font-size: medium;
    position: absolute;
    left: 26%;
    text-shadow: black;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #00ccff;
    cursor: pointer;
  }
  